syntax: glob
*.pro.user*
*.autosave
*.app
*.moc
*.prl
Makefile*
doc/html/
*.framework/
*.xcodeproj/
debug/
release/
qtc-gdbmacros/
*.rej
*.orig
*.obj
*.swp
*.dll
*.exp
*.ilk
*.pdb
*.lib
Thumbs.db
moc_*.cpp
qrc_*.cpp
*.o
*.so.*
*.so
*.pdb
ui_*.h
*~
.qmake.cache
lib/*
*.orig
*.exe
*.vcproj
*.vcproj.*.user
*_resource.rc
*.sln
*.idb
*.ncb
*.suo

*.zip
*.xlsx
/doc
/include
/mkspecs

/src/xlsx/object_script.Qt0Xlsx.Release
/src/xlsx/object_script.Qt0Xlsxd.Debug
/build-src-Desktop_Qt_5_7_1_MinGW_32bit-Debug
/lib
/src/xlsx/.pch
/src/xlsx/qdoc_wrapper.sh
/.qmake.stash
/src/xlsx/object_script.Qt5Xlsx.Release
/src/xlsx/object_script.Qt5Xlsxd.Debug
